{% extends 'base.html' %}
{% block content %}
  <!-- ========================= SECTION CONTENT ========================= -->
  <section class="section-conten padding-y" style="min-height: 80vh">
    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top: 100px">
      <div class="card-body">
        <h4 class="card-title mb-4">Resetear contraseña</h4>
        {% include 'includes/alerts.html' %}
        <form action="{% url 'resetPassword' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Contraseña" name="password" />
          </div>
          <!-- form-group// -->
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirmar contraseña" name="confirm_password" />
          </div>
          <!-- form-group// -->
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Resetear contraseña</button>
          </div>
          <!-- form-group// -->
        </form>
      </div>
      <!-- card-body.// -->
    </div>
    <!-- card .// -->

    <p class="text-center mt-4">¿Ya tienes tu contraseña? <a href="{% url 'login' %}">Iniciar sesión</a></p>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}